:root {
  --gray-dark: #101010;
  --gray-10: hsl(0, 0%, 10%);
  --gray-20: hsl(0, 0%, 20%);
  --gray-50: hsl(0, 0%, 50%);
  --gray-80: hsl(0, 0%, 80%);
  --gray-90: hsl(0, 0%, 90%);
  --gray-light: #f7f7f7;

  
  --indigo-dye: rgb(27, 73, 101);
  --verdigris: #00afb9ff;
  --light-orange: #fed9b7;
  --bittersweet: #f07167;
  --eggplant: #443742ff;

  --text-color: black;
  --link-color: var(--text-color);
  --link-color-hover: var(--verdigris);

  --h1-color: var(--bittersweet);

  --header-title: var(--indigo-dye);
  --header-navlink: var(--indigo-dye);
  --header-navlink-hover: var(--verdigris);
  --header-navlink-hover-border: var(--header-navlink-hover);
  --header-navlink-selected: var(--header-navlink-hover);
  --header-contact: white;
  --header-contact-background: var(--bittersweet);
  --header-contact-border: var(--header-contact-background);
  --header-contact-hover: var(--header-contact-background);
  --header-contact-background-hover: transparent;
  --header-contact-border-hover: var(--header-contact-background);
  

  --footer-text: var(--gray-50);
  --footer-link: var(--gray-50);
  --footer-link-hover: var(--gray-20);
  
  --border-primary: var(--gray-80);
  --background-primary: white;
  --background-secondary: var(--gray-light);
  --background-header: var(--background-primary);
}
  
/* https://stackoverflow.com/questions/61899858/dark-mode-switch-with-prefers-color-scheme-dark */
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: white;

    --header-title: white;
    --header-navlink: white;
    --header-navlink-hover: var(--verdigris);
    --header-contact: black;
    
    --footer-link-hover: var(--gray-80);

    --border-primary: var(--gray-20);
    --background-primary: black;    
    --background-secondary: var(--gray-10);
  }
}