header {
    position: sticky;
    top: 0;
    background: var(--background-header);
    border-bottom: 1px solid var(--border-primary);
    font-weight: 500;
}

header > .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1rem;
    padding: var(--header-padding);
}

header a {
    transition-duration: var(--transition-time);
    transition-property: color, background-color, border-color;
    color: var(--header-navlink);
    text-decoration: none;
}

header a:hover {
    color: var(--header-navlink-hover);
}

.header-logo {
    display: flex;
}

.header-logo h1 {
    width: max-content;
    margin: 0 1rem;
}

.header-logo img {
    width: var(--header-height);
    border-radius: 50%;
}

.nav-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.nav-submenu {
    display: flex;
    flex-direction: column;
}

.nav-item {
    list-style-type: none;
}

.nav-item > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-height);
    padding: 0 1rem;
    background-color: var(--background-secondary);
    border: 2px solid var(--background-secondary);
    border-radius: 5px;
    font-size: large;
    white-space: nowrap;
}


.nav-item > a:hover {
    border-color: var(--header-navlink-hover-border);
}

.nav-item > a.active {
    color: var(--header-navlink-selected);
}

a.header-contact-link {
    background-color: var(--header-contact-background);
    border-color: var(--header-contact-border);
    color: var(--header-contact);
}

a.header-contact-link:hover {
    background-color: var(--header-contact-background-hover);
    border-color: var(--header-contact-border-hover);
    color: var(--header-contact-hover);
}